{% extends 'main/template.html'%} {% block headerRegistrationBtn %}
<a
  href="/registration"
  class="nav-link"
  >Registration</a
>{%endblock%} {% block headerHomeBtn %}
<a
  href="/"
  class="nav-link active"
  aria-current="page"
  >Home</a
>{%endblock%} {% block olympicsInfo %}
<div class="eventInfo">
  Info about our event: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Aenean in elit sit amet mi maximus lobortis. Nullam facilisis molestie turpis,
  vel feugiat justo rhoncus eu. In non dapibus mauris. Suspendisse ut erat nec
  turpis laoreet ultricies non at sem. Sed eleifend metus at erat tincidunt
  dictum. Etiam a erat tempus, interdum nunc in, egestas felis. Phasellus vel
  tristique tortor. Maecenas luctus eros ut est porta auctor. Fusce efficitur
  euismod dictum. Pellentesque eget molestie velit. Nulla dolor orci, efficitur
  id sapien vitae, auctor consequat turpis. Integer tempus justo nec hendrerit
  facilisis. Aliquam et sollicitudin quam. Nam imperdiet tortor enim, et pretium
  risus dictum maximus. Phasellus ullamcorper ultrices purus a placerat. Ut nisi
  enim, iaculis non venenatis ac, semper eget ligula. Donec fermentum posuere
  eros, congue convallis dolor ornare nec. Integer pretium nisi sed sagittis
  sodales. Nunc nec nisi quis dui porta maximus eu non velit. Duis non facilisis
  ligula. Praesent hendrerit libero et eros feugiat, sit amet tristique nibh
  imperdiet. Mauris finibus elementum velit, feugiat viverra nulla. Phasellus
  consequat varius lobortis. Sed tincidunt eu metus vitae gravida. Pellentesque
  id gravida lacus. Nunc volutpat ac magna id efficitur. Orci varius natoque
  penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse
  facilisis scelerisque hendrerit. Duis pharetra lorem in maximus eleifend. Nam
  accumsan tempus mauris, sit amet posuere metus luctus volutpat. Curabitur
  varius aliquam nibh, ut cursus lacus dictum sed. Praesent urna purus,
  convallis eu laoreet vel, sagittis vel lorem. Aenean dapibus lectus et arcu
  convallis, convallis venenatis felis rhoncus. Fusce ac nisi nibh. Nulla eu
  nibh semper, gravida lacus sed, convallis arcu. Lorem ipsum dolor sit amet,
  consectetur adipiscing elit. Aenean non velit ullamcorper, malesuada ligula
  non, efficitur ipsum. Aenean tortor odio, fermentum non elit non, mollis
  varius augue. In sit amet est laoreet ipsum rhoncus porttitor. Praesent eget
  cursus elit. Aenean quam lorem, sodales a bibendum eget, vehicula vel orci.
  Fusce eu nunc at felis tincidunt facilisis. Praesent sed porta quam, eu rutrum
  lorem. Nam consectetur, metus non pellentesque porta, turpis mi facilisis
  turpis, non lobortis lorem urna at ex. Nulla ullamcorper, risus sagittis
  fringilla tincidunt, urna quam faucibus turpis, in viverra lacus est a erat.
  Sed hendrerit et arcu ut cursus. Aenean vitae magna leo. Ut egestas, ex eu
  condimentum ultricies, neque felis pretium tellus, eget aliquam mi odio et
  diam. Aliquam tempor eleifend mauris non porta. Suspendisse convallis, tellus
  in porttitor viverra, tortor lectus fermentum lectus, nec bibendum neque lacus
  vitae nulla. Proin fermentum fermentum feugiat. Aliquam at metus id tellus
  efficitur interdum. Donec placerat rhoncus magna, nec tempus purus venenatis
  eget. Donec at tortor vel est malesuada rhoncus a et tortor. Aenean imperdiet
  lectus a quam eleifend tempus. Nunc vel efficitur justo. Integer auctor vitae
  enim eu congue.
</div>
{%endblock%}
