{% extends 'main/template.html'%} {% block headerRegistrationBtn %}
<a
  href="/registration "
  class="nav-link active"
  >Registration</a
>{%endblock%} {% block headerHomeBtn %}
<a
  href="/"
  class="nav-link"
  aria-current="page"
  >Home</a
>{%endblock%} {% block signIn %}
<div class="d-flex flex-column signInForm">
  <div class="flex-grow-1 d-flex align-items-center justify-content-center">
    <main
      class="form-signin w-100"
      style="max-width: 400px"
    >
      <form>
        <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>
        <div class="form-floating mb-3">
          <input
            type="FIO"
            class="form-control"
            id="floatingInput"
            placeholder="Your full name"
          />
          <label for="floatingInput">Your full name</label>
        </div>

        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>

        <button
          class="btn btn-primary w-100 py-2 mt-3"
          type="submit"
        >
          Sign in
        </button>
      </form>
    </main>
  </div>
</div>
<style>
  .signInForm {
    height: 100%;
  }
</style>
{%endblock%}
