{% extends 'main/template.html'%} {% block headerRegistrationBtn %}
<a
  href="/registration "
  class="nav-link active"
  >Registration</a
>{%endblock%} {% block headerHomeBtn %}
<a
  href="/"
  class="nav-link"
  aria-current="page"
  >Home</a
>{%endblock%} {% block signIn %}
<div class="d-flex flex-column signInForm">
  <div class="flex-grow-1 d-flex align-items-center justify-content-center">
    <main
      class="form-signin w-100"
      style="max-width: 400px"
    >
      <form method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal text-center">Registration</h1>
        <div class="form-floating mb-3">
          {{form.fullName}}
          <label for="floatingInput">Your full name</label>
        </div>

        <div class="form-floating mb-3">
          {{form.email}}
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          {{form.password}}
          <label for="floatingPassword">Password</label>
        </div>

        <button
          class="btn btn-primary w-100 py-2 mt-3"
          type="submit"
        >
          Sign in
        </button>
      </form>
    </main>
  </div>
</div>
{% if messages %}
<script>
  alert({{ messages }});
</script>
{% endif %}
<style>
  .signInForm {
    height: 100%;
  }
</style>
{%endblock%}
