
@font-face {
    font-family: Montserrat;
    src: url('{% static "fonts/Montserrat-VariableFont_wght.ttf" %}') ;
}

@font-face {
    font-family: MontserratItalic;
    src: url('{% static "fonts/Montserrat-Italic-VariableFont_wght.ttf" %}') ;
}

@font-face {
    font-family: ptsans;
    src: url('{% static "fonts/PTSansNarrow-Regular.ttf" %}') ;
    
}

@font-face {
    font-family: ptsansBold;
    src: url('{% static "fonts/PTSansNarrow-Bold.ttf" %}') ;
}