body{
    overflow: hidden;
    margin: 5% 15% 5% 15%;
    text-align: center;
    flex-direction: column;
    box-sizing: content-box;
    background-image: url(../images/Group.svg);
    background-repeat:no-repeat ;
    background-size: cover;   
    color: white;
}



.logo{
    margin: 4%;
    display: block;
    justify-content: left;
    max-block-size: 120px;
}

.title{
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 700;
    line-height: 63px;
    width: 100%;
    text-align: left;

}

.regBtn{
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 700;
    line-height: 28.5px;
}