.first-view{

    
    color: white;
    width: 100vw;
    
    display:flex;
    flex-direction: column;
    min-height: max(100vh, 800px);
}

.first-view__main{

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    background-image: url(../images/Group.svg);
    background-repeat:no-repeat ;
    background-size: cover;  
}

.first-view__img-container{
    padding: 40px;
    width: 100%;       
    height: 100%;   
    object-fit: contain; 
    overflow: hidden; 
}

.first-view__picture{
    margin: 20px;
    width: 98%;
    height: 98%;
    object-fit: contain;
    object-position:center;
}

.first-view__container{
    height: 50vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100% ;

}

.first-view__logo-section{
    height: 10%;
    display: flex;
    margin-top: 2vh;
    margin-left: 2vh;

    
}

.first-view__place-container{display: block;margin: 20px;margin-bottom: 5%;}

.first-view__place{
    display: flex;
    justify-self: center;
    flex-direction: row;
    font-weight: 700;
}

.first-view__title-container{
    margin: 10%;
    display: flex;
    flex-direction: column;
}

.first-view__title{
display: flex;
justify-content: center;
align-items: center;
hyphens: auto;
flex-grow: 1;
margin-top: 20%;
margin-bottom: 20%;
font-weight: 900;
font-size: clamp(16px, 3vw, 46px); 
line-height: 150%;
letter-spacing: 0%;
}

.first-view__place-title{
margin-right: 10px;
font-weight: 700;
font-size: 20px;
line-height: 150%;
letter-spacing: 0%;
}
.first-view__place-info{
font-weight: 400;
font-size: 20px;
line-height: 150%;
letter-spacing: 0%;
}

.first-view__registration-button{
flex-shrink: 0; 
display: flex;         
align-items: center;    
justify-content: center;
width: 305px;
height: 69px;
top: 505px;
left: 165px;
border-radius: 9px;
margin: 2%;
font-weight: 700;
font-size: 19px;
line-height: 150%;
letter-spacing: 0%;
justify-self: flex-end;
}

.first-view__free-space{
    flex-grow: 1;
}

.first-view__footer{
    width: 100vw;
    height: 20vh;
    background: linear-gradient(89.95deg, #211EAA 0.04%, #3648B9 99.96%);
    display: grid;
    grid-template-columns: repeat(7, 14%);
    grid-template-rows: 25% 75%;

}


.first-view__footer{
    background: linear-gradient(89.95deg, #211EAA 0.04%, #3648B9 99.96%);
    display: grid;
    grid-template-columns: repeat(7, 14%);
    grid-template-rows: 25% 75%;

}
.first-view__footer-title{font-weight: 700;display:flex; align-items: center;}
.grid-title-1{grid-area: 1/1/2/6; }
.grid-title-2{grid-area: 1 / 6 / 2 / 8;}
.first-view__footer-element{padding: 4px;}



@media(max-width:1040px) {

    .first-view__img-container{ width: 60vw;}
    .first-view__footer-element{font-size: 12px;}
}

@media(max-width:860px) {
    .first-view__free-space{height: 0px;}
    /* .first-view__picture{display: none;} */
    .first-view__footer-element{font-size: 12px;}
}

@media(max-width:665px) {
.first-view__footer{
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 15% 42% 42%;


}
.grid-title-1{grid-area: 1/1/2/4; }
.grid-title-2{grid-area: 1 / 4 / 2 / 4;}
.grid-supportsers-1 { grid-area: 2 / 4 / 3 / 5; }
.grid-supportsers-2 { grid-area: 3 / 4 / 4 / 5;         align-self: anchor-center;}

.first-view__container{
    height: 40vh;
    grid-template-columns: 100% 0%;
    grid-template-rows: 100% ;

}
.first-view__picture{display: none;}
.first-view__title{font-size:40px}
.first-view__footer{height:max(25%,);}
}

@media(max-width:450px) {
    .first-view__registration-button{width: 250px;display: block;}


}

@media(max-height:1200px) {.first-view__title{margin-top: 0px;margin-bottom: 0px;}}

@media(max-height:900px) {
    .first-view__place-container{margin-bottom: 10px;}
}