.first-view{
    overflow-x: hidden;
    color: white;
    width: 100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
}

.first-view__main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    background-image: url(../images/Group.svg);
    background-repeat:no-repeat ;
    background-size: cover;  
}

.first-view__img-container{
    padding: 40px;
    width: 100%;       
    height: 100%;   
    object-fit: contain; 
    overflow: hidden; 
}

.first-view__picture{
    margin: 20px;
    width: 98%;
    height: 98%;
    object-fit: contain;
    object-position: center;
}

.first-view__container{
    height: 50vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100% ;

}

.first-view__logo-section{
    height: 10%;
    display: flex;
    margin-top: 2vh;
    margin-left: 2vh;

    
}

.first-view__place-container{display: block;margin: 20px;margin-bottom: 5%;}

.first-view__place{
    display: flex;
    justify-self: center;
    flex-direction: row;
    font-weight: 700;
}

.first-view__title-container{
    margin: 10%;
    display: flex;
    flex-direction: column;
}

.first-view__title{
display: flex;
justify-content: center;
align-items: center;
hyphens: auto;
flex-grow: 1;
margin-top: 20%;
margin-bottom: 20%;
font-weight: 900;
font-size: clamp(30px, 3vw, 46px); 
line-height: 150%;
letter-spacing: 0%;
}

.first-view__place-title{
margin-right: 10px;
font-weight: 700;
font-size: 20px;
line-height: 150%;
letter-spacing: 0%;
}
.first-view__place-info{
font-weight: 400;
font-size: 20px;
line-height: 150%;
letter-spacing: 0%;
}

.first-view__registration-button{
display: flex;         
align-items: center;    
justify-content: center;
width: 305px;
height: 69px;
top: 505px;
left: 165px;
border-radius: 9px;
margin: 2%;
font-weight: 700;
font-size: 19px;
line-height: 150%;
letter-spacing: 0%;
justify-self: flex-end;
}

.first-view__free-space{
    flex-grow: 1;
}

.first-view__footer{
    width: 100vw;
    height: 20vh;
    background: linear-gradient(89.95deg, #211EAA 0.04%, #3648B9 99.96%);
    display: grid;
    grid-template-columns: repeat(7, 14%);
    grid-template-rows: 25% 75%;

}

